* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "JetBrains Mono", monospace;
    /* border: 1px solid blue; */
}

body {
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-rows: 18% 82%;
}



/*SIDEBAR*/
.sidebar {
    display: grid;
    grid-row: 1 / 3;
    width: 270px;
    height: 100vh;
    background-color: rgb(18, 18, 18);
}

.sidebarOptions ul li {
    padding: 10px;
    padding-left: 25px;
}

.sidebarOptions li:hover {
    background-color: rgb(40, 40, 40);
}

.sidebarOptions a {
    color: white;
}

.sidebarLogo {
    font-size: 25px;
    padding: 20px;
    padding-left: 25px;
    color: rgb(3, 236, 112);
}



/*HEADER*/
.header {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    gap: 35px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12);
}

.iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    padding: 7px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: 0.1s;
}
.iconButton:hover {
    background-color: rgb(225, 225, 225);
}
.iconButton:active {
    background-color: rgb(205, 205, 205);
}

/*SEARCH AREA*/
#searchAreaContainer {
    display: flex;
    width: 100%;
    gap: 5px;
}

#searchBar {
    width: 100%;
    height: 35px;
    text-indent: 18px;
    border-radius: 50px;
    border: none;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12);
}

/*HEADER ROWS*/
.firstRow, .secondRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#profileContainer, #account1 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: right;
    gap: 10px;
}

#profileContainer a:visited {
    color: black;
}

#account1 {
    padding: 5px 5px;
    border-radius: 7px;
    background-color: rgb(225, 225, 225);
    transition: 0.2s;
}
#account1:hover {
    background-color: rgb(205, 205, 205);
    transition: 0.2s;
}

#account2 {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 10px;
}
#username {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: lighter;
    font-size: 18px;
}

#headerButtonsContainer {
    display: flex;
    gap: 25px;
}

/*PROFILE PICTURE*/
.headerLogo1 {
    font-size: 30px;
    color: blue;
}
.headerLogo2 {
    font-size: 60px;
    color: blue;
}

/*CREATOR BUTTONS */
.userButton {
  height: 40px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  padding: 0px 16px 0px 16px;
  font-size: 15px;
  color: #36395A;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  background-color: #FCFCFD;
}
.userButton:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.userButton:active {
    color: rgb(24, 218, 114);
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}



/*MAIN CONTENT*/
#mainContentContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/*PROJECTS*/
#projectContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-row: 1 / 3;
    gap: 20px;
    padding: 18px;
    background-color: #e2e8f0ff;
}

#projectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

.project {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    border-radius: 10px;
    padding: 20px 20px 50px 20px;
    gap: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.project p {
    font-size: 18px;
}

.projectHeadline {
    font-size: 22px;
}



/*ANNOUNCEMENTS*/
#announcementContainer, #trendingContainer {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    gap: 15px;
    background-color: #e2e8f0ff;
}

#announcementDiv, #trendingDiv {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px 40px;
    gap: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.announcement {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    gap: 7px;
}

.announcementHeader {
    font-size: 15px;
}
.announcementText {
    font-size: 14px;
}


/*TRENDINGS*/
#trendingContainer {
    background-color: #e2e8f0ff;
}

.trendingUser {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
}

.trendingProfilePic {
    width: 60px;
    border-radius: 50px;
}

