* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    /* border: 1px solid blue; */
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 18% 81%;
}



/*SIDEBAR*/
.sidebar {
    display: grid;
    grid-row: 1 / 3;

    width: 100%;
    height: 100vh;
    background-color: rgb(12, 12, 12);
}
.sidebarOptions {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
.sidebarOptions a {
    display: block;
    color: white;
}
.sidebarOptions ul li {
    padding: 10px;
    padding-left: 25px;
}
.sidebarOptions li:hover {
    background-color: rgb(40, 40, 40);
}
.sidebarOptions ul li a i {
    margin-right: 10px;
}
.sidebarLogo {
    font-size: 25px;
    padding: 20px;
    padding-left: 25px;
    color: orange;
}
.logoText {
    color: blue;
}

.headerLogo1 {
    font-size: 30px;
    color: blue;
}
.headerLogo2 {
    font-size: 60px;
    color: blue;
}



/*HEADER*/
.header {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    gap: 35px;
    background-color: rgb(240, 240, 240);
}


/*SEARCH AREA*/
.fa-search {
    font-size: 19px;
}
.iconButton {
    padding: 7px;
    border-radius: 50%;
    border: none;
}
.iconButton:hover {
    background-color: rgb(210, 210, 210);
}
#searchBarContainer {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}
#searchBar {
    width: 100%;
    height: 35px;
    text-indent: 18px;
    border-radius: 50px;
    border: none;
    background-color: white;
}

#bellIcon {
    font-size: 20px;
}

#profileContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}
#welcomeInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}
span {
    font-weight: lighter;
    font-style: italic;
    font-size: 25px;
}

.firstRow {
    display: flex;
    gap: 30%;
    justify-content: space-between;
    align-items: center;
}
.secondRow {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

#headerButtons {
    display: flex;
    gap: 25px;
}
.userButton {
    width: 85px;
    height: 35px;
    border-radius: 50px;
    border: none;
    color: black;
    background-color: orange;
}
.userButton:active {
    background-color: orangered;
}